header {
  height: 75px;
  width: 480px;
}
aside {
  height: 150px;
  width: 480px;
}
main > div {
  width: 480px;
  height: 125px;
}
div > div {
  width: 240px;
  height: 250px;
}
footer {
  width: 480px;
  height: 80px;
}